# 精简版运行时配置文件
## 必须配置
name : 炎黃群俠傳
mudlib directory : .
log directory : /log
include directories : /include:/mudcore/include
master file : /adm/single/master
## 必要配置
simulated efun file : /adm/single/simul_efun
global include file : <globals.h>
debug log file : debug.log
external_port_1 : telnet 6666
external_port_2 : websocket 8000
websocket http dir : www
## 推荐配置
default fail message : [35m指令错误，请输入 help 查看游戏帮助。[0m
default error message : [31m你发现事情不大对了，但是又说不上来。[0m
## 特殊配置
external_cmd_1 : /usr/bin/curl
external_cmd_2 : C:\ProgramData\chocolatey\bin\curl.exe
external_cmd_3 : /usr/bin/python3
external_cmd_4 : C:\Windows\py.exe
external_cmd_5 : /usr/bin/bash
## ==== Runtime Config Table ====
enable gmcp : 1 # default: 0
living hash table size : 2048 # default: 256
maximum array size : 30000 # default: 15000
## ==============================
