──────────────────────────────
$BBLU$$HIY$                        【游戏规则】                        $NOR$
──────────────────────────────

本游戏改编自微尘的「终极地狱」，乃是一个类「侠客行」的文字泥
巴游戏，它的初始是建立在「东方故事Ⅱ」基础上。我们的目的是为
广大能够读写汉字的朋友们提供一个消遣机会，谈天说地的地方。当
然，不依规矩，不成方圆。就象其他的文字游戏一样，我们需要一套
规则来保证游戏能够正常运行，玩家们能玩的高兴。不愿意遵守以下
规则的朋友请勿加入本游戏，谢谢。$HIR$

一、禁止在任何频道或留言中辱骂任何一位巫师或玩家。如果为了表
达自己的愤怒与不屑，请用$NOR$$HIY$ tell $NOR$$HIR$或$NOR$$HIY$ whisper$NOR$$HIR$。请注意：巫师不会对
使用$NOR$$HIY$ tell $NOR$$HIR$或$NOR$$HIY$ whisper $NOR$$HIR$的交谈内容进 行任何管理，如果他人和你的
私人交谈中含有任何不雅子眼而你进行公开宣扬的话，巫师将会认为
你反规则而进行处理。

二、禁止在任何频道或是公开场合发布有伤风化或是带有反动政治色
彩的言语，绝对禁止对任何一个国家或是党派的政治评论。禁止有意
散布让玩家容易误会的信息。

三、禁止任何ＦＬＯＯＤ，凡是散布没有用处的信息或是反复散布相
同的信息都被认为是ＦＬＯＯＤ。如果你需要发布物品买卖广告或是
其它类似的重复信息，请使用($NOR$$HIY$bill$NOR$$HIR$)频道。禁止使用其他任何频道散
布重复累赘的信息。

$HIR$四、禁止使用易引起混乱或不雅观的中、英文名字。请勿故意使用和
他人一模一样的姓名，如果名字和先注册的玩家重名或非常相近，请
后到的玩家修改名字。

五、使用ＢＵＧ牟利，巫师有权收回非法所得。请注意：这里并不会
恶意处罚任何一位使用ＢＵＧ练功的玩家，但是在追回非法所得时巫
师采取的手段是恢复该玩家在使用ＢＵＧ牟利前的状态。就是说，如
果该玩家在一个月前利用某ＢＵＧ牟利，一经发现后，巫师将会把该
玩家的所有档案恢复至一个月前。

六、所有巫师除了必须遵守以上规则外，还要遵守巫师规则。天神会
保留对犯规行为采取任何处理办法的权利。$NOR$

所有违反以上明确禁止的条款的玩家，均可以导致被踢出、监禁、删
除档案的任何一种处理。其它的情况会视情节轻重采用具体的解决办
法，但是一般不会采用上述这三种严厉的手段。如果违反规则，任何
巫师可以不给出警告直接进行处理。

