# 环境配置示例文件，正式配置文件名为`.env`，用来保存不需要提交到git的配置，比如数据库密码
# 环境配置（Key : Value）

DEBUG : false

# 是否开启MUDREN论坛注册
; MUDREN_ID : false
# 是否开启玩家数据库缓存
; CACHE_DATA : true
# MUDREN论坛数据库密码
DB_HOST : 127.0.0.1
DB_DATABASE : mud.sqlite
DB_USERNAME : root
DB_PASSWORD : root
DB_TYPE : 2

# 智能机器人小i的AppCode
; AppCode : 你的AppCode

# QQ群机器人mirai配置
; MIRAI_HOST : mud.ren
; MIRAI_ADDR : 118.190.104.241 8006
; MIRAI_KEY : QQ7300637-****
; MIRAI_QQ : 21791131
; MIRAI_GROUP : 289906259

# Mudlet Client
GUI : true
GUI.version : 1.0.0
GUI.url : https://mud.ren/storage/mudren.mpackage.zip
Map : https://mud.ren/storage/map.dat
