# 环境配置示例文件，正式配置文件名为`.env`，用来保存不需要提交到git的配置，比如数据库密码
# 环境配置（Key : Value）以`#`或`;`开头为注释
# 在游戏中可以`eval return env()`查看配置

DEBUG : false

# 是否开启MUDREN论坛注册
; MUDREN_ID : false
# MUDREN默认数据库(__DEFAULT_DB__)配置
DB_HOST : 127.0.0.1
DB_DATABASE : mud
DB_USERNAME : root
DB_PASSWORD : root

# 是否开启玩家数据库缓存(缓存数据库为/data/db.sqlite)
; CACHE_DATA : true

# 智能机器人小i的AppCode
; AppCode : 你的AppCode

# QQ群机器人mirai配置
; MIRAI_HOST : http://mud.ren:8006
; MIRAI_KEY : QQ7300637-****
; MIRAI_QQ : 21791131
; MIRAI_GROUP : 9783836

# Mudlet Client
GUI : true
GUI.version : 1.0.0
GUI.url : https://mud.ren/storage/mudren.mpackage.zip
Map : https://mud.ren/storage/map.dat

# External commands
CMD_CURL : 1
