# 环境配置示例文件，正式配置文件名为`.env`，用来保存不需要提交到git的配置，比如数据库密码

# 环境配置（Key : Value）
; AppCode : xxxxxxxxxxxxxxxxxxxx

# valid debug
DEBUG : false

# 数据库
DB_HOST : 127.0.0.1
DB_DATABASE : mud
DB_USERNAME : root
DB_PASSWORD :
DB_TYPE : 1
